---
layout: default
---

<section>

	{% for post in paginator.posts %}
		<ul>
			<li>
				<div class="post-date">
					<span>{{ post.date | date: "%F" }}</span>
				</div>
				<div class="title">
				    <span>[+]</span>
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>
	{% endfor %}

</section>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">previous</a>
  {% else %}
    <span class="previous">previous</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">next</a>
  {% else %}
    <span class="next ">next</span>
  {% endif %}
</div>
