---
layout: default
---

<!-- search -->
<div class="searchform">
<input type="text" placeholder="Please enter search key word"/>
</div>

<section>

	{% for post in paginator.posts %}
		{% unless post.next %}
			<h3>{{ post.date | date: '%Y' }} &#172;</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3>{{ post.date | date: '%Y' }} &#172;</h3>
			{% endif %}
		{% endunless %}

		<ul>
			<li>
				<div class="post-date">
					<span>{{ post.date | date: "%F" }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>

	{% endfor %}

</section>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">previous</a>
  {% else %}
    <span class="previous">previous</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">next</a>
  {% else %}
    <span class="next ">next</span>
  {% endif %}
</div>
