<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = '关于我' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = '返回首页' %}
	{% endif %}

	<a class="code_pic" href="{{ link | prepend: site.baseurl }}">
		<img src="{{ site.baseurl }}/assets/header.png" class="gravatar">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>
	<a class="hack_pic" href="{{ link | prepend: site.baseurl }}">
		<img src="{{ site.baseurl }}/assets/hacker.png" class="gravatar">
	</a>

</aside>
