<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- pwa meta begin -->
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#000">

<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="msapplication-tap-highlight" content="no">  

<!-- IOS不会读取manifest中的icon，用此配置进行适配 -->
<link rel="apple-touch-icon" href="assets/icons/icon-96x96.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/icon-180x180.png">
<link rel="apple-touch-icon" sizes="167x167" href="/assets/icons/icon-167x167.png">

<!-- ios修复splash黑屏 -->
<link href="/assets/img/icons/apple_splash_1125.png" sizes="1125x2436" rel="apple-touch-startup-image" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- pwa meta end -->

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ',' }}{% else %}{{ site.keywords }}{% endif %}">

<link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/core.css">
<link rel="canonical" href="{{ page.url | prepend: site.baseurl }}">
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />