body {
  /* font-family: 'Karla', sans-serif; */
  // font: 400 12px/1.8 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 400 10px/1.8 "Open Sans", sans-serif;
  padding: 20px;
  color: #555;
  letter-spacing: 0.2px;
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  @media (min-width: 992px) {
    // padding: 35px 50px;
    padding: 15px 50px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  // margin: 45px 0 25px;
  margin: 15px 0 15px;
  color:#000;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #555;
  &.image {
    display: block;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin: 30px 0;
  }
}
mark {
  background: #fffc76;
  padding: 0 5px;
}
blockquote {
  border-left: 5px solid #ccc;
  // margin: 40px 0;
  margin: 20px 0;
  // padding: 5px 30px;
  padding: 1px 5px;
  background: #eee;
}
span[data-note] {
  font-size: 0.8em;
  background: #c1c1c1;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  padding: 0 12px;
  vertical-align: middle;
  line-height: 18px;
  cursor: pointer;
  margin: 0 2px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -webkit-user-select: none;
  &.open {
    background: #838383;
  }
  @media (min-width: 768px) {
    vertical-align: 1px;
  }
  @media (min-width: 992px) {&:hover {
      background: #838383;
    }
  }
}
.header-nav {
    max-width: 600px;
    margin: 0px auto 0em;
    text-align: center;
    font-family: "Cutive Mono",monospace;
    // font-size: 0.9em;
    border-bottom: 2px solid rgb(0, 0, 0);
    .page-link{
        padding: 0em 0.2em;
        color: rgb(51, 51, 51);
        background-color: white;
        border-bottom: 0px;
    }
    a:hover {
        color: white;
        background-color: #333;
      }
}
.searchcommand {
    .mk {display:inline;padding: 2px;}
    #keyword {padding-left: 85px;width: 85%;font-weight: 800;font-size: 13px;background-color: #000;color: #00fb00;}

}
.w-search {
    display: none;
    position: fixed;
    bottom: 10px;
    // right: 15px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    z-index: 100;
    outline: none !important;
    background-color: #eee;
    color: #555 !important;
    border-bottom:none;
}
.w-catalog {
    display: none;
    position: fixed;
    bottom: 42px;
    // right: 15px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    z-index: 100;
    outline: none !important;
    background-color: #eee;
    color: #555 !important;
    border-bottom:none;
}
.w-catalog:hover,.w-search:hover {
  color: #FFF !important;
}
.ui-effects-transfer { border: 2px dotted gray; }


.searchform {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    // border-bottom: 2px solid #777;
    padding: 1.1em 0em;
    label {
    display:none;
        position: absolute;
width: 70px;
background-color: #555;
text-align: center;
margin-left: 3px;
padding: 0px 5px 0px 10px;
margin-top: 3px;
border-radius: 0.25em;
vertical-align: baseline;
white-space: nowrap;
color: #FFF;
font-weight: 700;
    }
    input[type="text"] {
        width: 96%;font-size: 10px;
        border: 1px solid #e8e8e8;
background: #fff;
display: inline-block;
overflow: hidden;
height: 20px;
vertical-align: top;
padding: 3px;
padding-left: 15px;
    }
    input[type="text"]:hover {border-color: #447490;}
    .clear {
        display: none;
position: absolute;
width: 16px;
height: 16px;
margin: 6px 0 0 -20px;
background: url(/assets/clear.png);
border-bottom: 0px;
cursor:pointer;

    }
    // input[type="text"]::-ms-clear { display: none; }
    // input[type="text"]:valid + .clear { display: inline; }
    // input[type="text"]:focus {border: 1px solid red;}
}
.category {
    background-color: #5a5959;
    color: white;
    margin: 1px 0px;
    cursor: pointer;
    a {
        border-bottom: 0px;
        font-size: 11px;
        font-family: "Cutive Mono", monospace;
        padding: 0px 10px;
    }
    // a:hover{
    //     color:white;
    //     background-color: #333;
    // }
}
.category:hover{
    background-color: #777;
}
.note {
  background: #f8f8f8;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px rgba( 0, 0, 0, 0.2 );
  padding: 20px 20px 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  transform: translateY( calc( 100% + 8px ) );
  -webkit-transform: translateY( calc( 100% + 8px ) );
  font-size: 14px;
  line-height: 1.7em;
  &.shown {
    transform: translateY( 0 );
    -webkit-transform: translateY( 0 );
  }
  @media (min-width: 768px) {
    right: 40px;
    padding-bottom: 20px;
    max-width: 400px;
    left: auto;
    bottom: 40px;
    transition-property: opacity, transform;
    -webkit-transition-property: opacity, transform;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    opacity: 0;
    transform: scale( 0.1 ) translateZ( 0 );
    -webkit-transform: scale( 0.1 ) translateZ( 0 );
    &.shown {
      transform: scale( 1 ) translateZ( 0 );
      -webkit-transform: scale( 1 ) translateZ( 0 );
      opacity: 1;
    }
  }
}
.logo {
  position: relative;
  // margin: 0 auto 35px;
  margin: 0 auto 5px;
  text-align: center;
  // animation-duration: 0.7s;
  // animation-fill-mode: both;
  // animation-name: bounce;
  // -webkit-animation-duration: 0.7s;
  // -webkit-animation-fill-mode: both;
  // -webkit-animation-name: bounce;
  .hack_pic { display:none; }
  a {
    background: #ddd url("gravatar_wrapper.png");
    color: #000;
    text-decoration: none;
    font-weight: 700;
    height: 100px;
    width: 100px;
    font-size: 1.5em;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    border: 5px solid #fff;
    box-sizing: border-box;
    &:hover,
    &:focus {
      background: #f14e32;
    }
    &:hover + .logo-prompt,
    &:focus + .logo-prompt {
      display: inline-block !important;
    }
    .gravatar {
      margin-top: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    @media (max-width : 480px) {&:hover + .logo-prompt,
      &:focus + .logo-prompt {
        display: none !important;
      }
    }
  }
  .logo-prompt {
    position: absolute;
    display: none;
    vertical-align: middle;
    padding: 5px;
    border-radius: 3px;
    background: #666;
    background: rgba(0,0,0,.5);
    margin-left: 15px;
    color: #fff;
    font-size: 0.8235em;
    text-align: center;
    line-height: 1.2;
    top: 50%;
    margin-top: -10px;
    &:before {
      content: "";
      border-width: 5px 5px 5px 0;
      border-style: solid;
      border-color: transparent #666;
      border-color: transparent rgba(0,0,0,.5);
      position: absolute;
      top: 50%;
      left: -5px;
      margin-top: -5px;
    }
  }
}
iframe {
  margin: 45px 0 !important;
}
ul,
ol {
  // margin: 10px 0;
  // margin: 10px 0;
  // padding-left: 50px;
  // list-style: none;
  padding-left: 20px;
  li {
    // list-style: circle;
    word-wrap: break-word;
  }
  img {
    margin: 40px 0;
    border-radius: 5px;
  }
}
sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  margin-left: 1px;
}
time {
  color: #555;
}
code,
pre {
  font-family: Consolas, monospace, x;
}
code {
  // color: #f14e32;
  color: #686868;
  background: #eee;
  padding: 2px 6px;
  font-size: 13px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 11px;
  line-height: 1.6;
  white-space: pre;
  overflow-x: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  // padding: 1rem;
  padding: 0.5rem;
  code {
    // counter-reset: line;
    /* span:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 .5em;
      margin-right: .5em;
      color: #888888;
    }*/
    // font-size: 100%;
    font-size: 90%;
    color: inherit;
    background-color: transparent;
    padding: 0;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  // table-layout: fixed;
  margin: 5px 0;
  border: 1px dotted #000;
  // margin: 20px 0;
  thead {
    background: #f2f2f2;
  }
  th {
    text-align: left;
    padding: 3px 10px;
    // border-bottom: 5px solid #fff;
    border: 1px dotted #000;
    font-size: 10px
  }
  td {
    border: 1px dotted #000;
    padding: 2px 5px;
    font-size: 10px
  }
}
iframe {
  width: 100%;
}
article {
  max-width: 600px;
  margin: 0 auto;
  .title {
    line-height: 1.4em;
    text-align: center;
  }
  .divider {
    background: #ddd;
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(#ccc),to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
    background: linear-gradient(to right,rgba(255,255,255,0),#ccc,rgba(255,255,255,0));
    height: 1px;
    margin: 2em 0;
  }
  a:hover {
    color: white;
    background-color: #333;
  }
  .center {
    text-align: center;
    margin: 0 auto;
  }
  hr {
    border: 0;
    border-bottom: 1px solid #000;
    margin: 30px 0;
  }
  p {
    // font-size: 12px;
    font-size: 10px;
    line-height: 2em;
    word-wrap: break-word;
    a {margin:0px 3px;}
  }
  .footnote {
    border: 0;
  }
  .footnotes {
    margin: 40px 0;
    display: none;
    .reversefootnote {
      border: 0;
    }
  }
}
.back {
  text-align: center;
  a {
    text-decoration: none;
    margin: 40px auto 0;
    display: inline-block;
    padding: 10px;
    border: 0;
    &:before {
      content: "<<";
      margin-right: 5px;
      color: #000;
    }
  }
}
div.highlighter-rouge {
  margin: 0px;
  font-size: 10px;
  box-shadow: .1em .1em .5em rgba(0,0,0,.45);
}
.highlighter-rouge {
    border-radius:3px;
    margin: 0px 3px;
    font-size: 10px;
}
.pagination {
  border-top: 2px solid #000;
    max-width: 600px;
    margin: 0 auto;
    text-align: right;
    color: #555;
    font-family: "Cutive Mono", monospace;
}
.block {
  display: block;
}
.page-navigation,
.footer {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  // font-size: 1rem;
  font-size: 10px;
}
.page-navigation {
  // margin: 50px auto 0 auto;
  margin: 20px auto 0 auto;
  a {
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
  }
  span {
    display: inline-block;
  }
}
#by-nc-nd {
    margin: 10px 0;
    padding: 5px 5px;
    a {
        border-bottom:0px;
        margin:0px 3px;
    }
    div {
        font-size: 10px;
        a {
            border-bottom: 1px solid #555;
        }
    }
}
.footer {
  margin-top: 10px;
  color: #777;
  font-family: "Cutive Mono", monospace;
  padding: 1.1em 0em;
  // border-top: 1px dotted #000;
  a {
    border: none;
    font-weight: bold;
  }
}
#markdown-toc {
  display: none;
  position: static;
  @media (min-width: 992px) {
    display: none;
    position: fixed;
    top: 100px;
    right: 15px;
    width: 230px;
    z-index: 100;
    border-top: 10px solid #f9f9f9;
    border-bottom: 10px solid #f9f9f9;
    border-radius:3px;
    box-shadow: .1em .1em .5em rgba(0, 0, 0, .25);
    li {padding:0px 5px;}
    &:nth-of-type(1) {
        color: #555;
        background-color: #f9f9f9;
        list-style: none;
        a {border-bottom: none;margin:5px 0px;}
    }
  }
}
.suggest {
    width: 598px;
    // height: 300px;
    position: absolute;
    border: 1px dashed grey;
    background-color: white;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: none;
    text-align: left;
    color: #757575;
    overflow:auto;
    margin-top: 2px;
    overflow: auto;
    margin-top: 2px;
    max-height: 300px;
    li {
        padding: 0px 0px 0px 15px;
        cursor: pointer;
        a {border-bottom: 0px;}
        .hilight {
            padding: 0px 3px;
            background-color: yellow;
            color: black;
            border-radius: 3px;
        }
    }
    li:hover{
        background-color: #f14e32;
        color: white;
    }
}

.hackmode {
  // 文章页
  h1, h2, h3, h4, h5{color: #9b9b9b;}
  pre,blockquote {background-color: #393939;}
  // 目录
  #markdown-toc {background-color: #393939;color: #9b9b9b;}

  font-weight: bold;
    background-color: #000;
    color: #FFF;
    .title span{color: #f14e32;}
    .title a {color:#9b9b9b;}
    .pagination {border-top: 1px dashed #f14e32;color:#f14e32;}
    // .footer {border-top: 1px dashed #f14e32;color:#f14e32;}
    .code_pic {display:none;}
    .hack_pic {display:inline-block;}
    .logo a {background: #f14e32;}
    .searchform input[type="text"] {font-weight:bold;}
    .clear {display:inline;}
    .header-nav {border-bottom: 1px dashed #f14e32;}
    .page-link {color: #FFF;background-color: #f14e32;}
    section {color:#757575;}
    .home {color:#f14e32;}
}
.hover{background-color: #f14e32;color: white;}
section {
  max-width: 600px;
  margin: 20px auto 20px auto;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      // margin: 15px 0;
      margin: 10px 0;
      .title {
        max-width: 100%;
        //overflow: hidden !important;
        //text-overflow: ellipsis !important;
        //white-space: nowrap !important;
        word-wrap: normal !important;
        span {padding-right:5px;color: #000;}
      }
      a {
        text-decoration: none;
        border: 0;
        color: #363535;
        box-sizing: border-box;
        // font-weight: bold;
        font-family: "Cutive Mono",monospace;
      }
      .post-date {
        float: right;
        margin: 0 0 0 20px;
      }
      span {
        display: inline-block;
        color: #757575;
        // letter-spacing: 1px;
        // text-transform: uppercase;
      }
      @media (min-width: 992px) {a {
          border-bottom: 2px solid transparent;
          &:hover {
            border-color: #000;
          }
        }
      }
    }
  }
}
@keyframes bounce {0% {
    transform: translate3d( 0, -1000px, 0 );
  }
  60% {
    transform: translate3d( 0, 25px, 0 );
  }
  75% {
    transform: translate3d( 0, -10px, 0 );
  }
  90% {
    transform: translate3d( 0, 5px, 0 );
  }
  100% {
    transform: none;
  }
}
@-webkit-keyframes bounce {0% {
    -webkit-transform: translate3d( 0, -1000px, 0 );
  }
  60% {
    -webkit-transform: translate3d( 0, 25px, 0 );
  }
  75% {
    -webkit-transform: translate3d( 0, -10px, 0 );
  }
  90% {
    -webkit-transform: translate3d( 0, 5px, 0 );
  }
  100% {
    -webkit-transform: none;
  }
}
