---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>
        <!-- 全局页面loading -->
        <div class="loading">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        {% if page.url == '/index.html'
            or page.url == '/'
            or page.url contains '/page/'
            or page.url contains '/categories/'
            or page.url == '/about/' %}
    		{% include logo.html %}
		{% endif %}

        {% include search.html %}
		{% include menu.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}

             <!-- 书签处理 -->
            {% if page.layout == 'post' %}
                <script type="text/javascript" src="/assets/js/zepto.min.js"></script>
                <script type="text/javascript" src="/assets/js/nav.js"></script>
            {% endif %}
		</main>

		{% include footer.html %}

		{% if page.path contains '_posts' %}
			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/js/footnotes.js"></script>
			{% endif %}
		{% endif %} 
	</body>

</html>
